<h1><%= t('home.title') %></h1>
<p><%= t('home.greetings', name: name) %></p>
<p><%= t('home.greeting_count', count: 0) %></p>
<p><%= t('home.greeting_count', count: 1) %></p>
<p><%= t('home.greeting_count', count: 2) %></p>
<p><%= t('home.greeting_count', count: 3) %></p>
